##Задача №1
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [ ]:
def calc(fruits: dict):
  return sum(fruits.values())

fruits={
    'apple': 30,
    'banana': 55,
    'orange': 177
}

calc(fruits)

262


##Задача №2
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [ ]:
list =  [100, 125, -90, 345, 655, -1, 0, 200]

In [ ]:
sum(i for i in list if i >= 0)

1425

##Задача №3
Даны два списка.

*   Дата покупки
*   Суммы покупок по датам

In [ ]:
date= ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
sum_pay = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Задача №3.1.
Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [ ]:
sum (i[1] for i in zip(date, sum_pay) if '-11-' in i[0])

25098

###Задача №3.2.
Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [ ]:
def sum_month (d: List, r: List):
    new_dict= [(i[0][5:7], i[1]) for i in zip(d, r)]
    dictionary_revenue= {i[0]:0 for i in new_dict}
    for i in new_dict:
      dictionary_revenue[i[0]]+=i[1]
    return dictionary_revenue


sum_month(date, sum_pay)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}